<div class="container">
  <div class="content">
    <%= nested_form_for @blogpost, html: {multipart: true} do |f| %>
    <div class="field">
      <%= f.label "Title" %>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label "Post" %>
      <%= f.text_area :post, :size => "100x10" %>
    </div>

    <%= f.fields_for :images do |image_form| %>
      <fieldset>
        <% if image_form.object.photo.exists? %>
            <%= image_tag image_form.object.photo.url, class: "fancybox_thumbnail" %>
          <% end %>
        <%= image_form.label :photo %>
        <%= image_form.file_field :photo %>
        <%= image_form.link_to_remove "Remove image" %>
      </fieldset>
    <% end %>
    <div class="admin_buttons">
      <%= f.link_to_add "Add photo", :images %>
    </div>
    <div class="submit_spacer"></div>
    <p><%= f.submit %></p>
  <% end %>
  </div>
</div>
