<div class="container">
	<div class="content">
		<h1>Blogpost Show</h1>

		<p>
			<strong>Title:</strong>
			<%= @blogpost.title %>
		</p>
		<p>
			<strong>Post:</strong>
			<%= @blogpost.post %>
		</p>


		<% @blogpost.images.each do |image| %>
		  <%= image.name %><br>
		  <%= image_tag image.photo.url %><br>
		<% end %>

		<div class="admin_buttons">
		  <%= link_to 'Back', team_members_path %>
		</div>
	</div>
</div>