<h1>Listing cart</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% if @current_cart.cart_items.empty? %>
      <h2> No products in cart! </h2>
    <% else %>
    <% @current_cart.cart_items.each do |citem| %>
      <tr>
        <td><%= citem.product.name %></td>
        <td><%= citem.product.description %></td>
        <td>$<%= citem.product.price %></td> 
        <%= form_for(citem, url: update_cart_path, method: :post) do |f| %>
          <td><%= f.number_field :quantity, value: citem.quantity %></td>
          <td><%= f.hidden_field :product_id, value: citem.product_id %></td>
          <td><%= f.submit "Update" %></td>
        <% end %>
        <td><%= link_to 'Show', citem.product %></td>
        <td><%= link_to "Delete", delete_from_cart_path(:product_id => citem.product), :method => :post %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>