<h1> Listing Donors </h1>
<h2>Gold Tier</h2>
<% @golds.each do |donor| %>
<div>
  <p><%= donor.name %></p>
  <p><%= donor.address %></p>
  <p><%= donor.email %></p>
  <p><%= donor.amount %></p>
  <p><%= link_to 'Show', donor %>  <%= link_to 'Edit', edit_donor_path(donor) %>  <%= link_to 'Destroy', donor, method: :delete, data: { confirm: 'Are you sure?' } %></p>
</div>
<% end %>
<br/><br/>
<h2>Silver Tier</h2>
<% @silvers.each do |donor| %>
<div>
  <p><%= donor.name %></p>
  <p><%= donor.address %></p>
  <p><%= donor.email %></p>
  <p><%= donor.amount %></p>
  <p><%= link_to 'Show', donor %>  <%= link_to 'Edit', edit_donor_path(donor) %>  <%= link_to 'Destroy', donor, method: :delete, data: { confirm: 'Are you sure?' } %></p>
</div>
<% end %>
<br/><br/>
<h2>Bronze Tier</h2>
<% @bronzes.each do |donor| %>
<div>
  <p><%= donor.name %></p>
  <p><%= donor.address %></p>
  <p><%= donor.email %></p>
  <p><%= donor.amount %></p>
  <p><%= link_to 'Show', donor %>  <%= link_to 'Edit', edit_donor_path(donor) %>  <%= link_to 'Destroy', donor, method: :delete, data: { confirm: 'Are you sure?' } %></p>
</div>
<% end %>
<br/><br/>
<h2>Nonmedals Tier</h2>
<% @nonmedals.each do |donor| %>
<div>
  <p><%= donor.name %></p>
  <p><%= donor.address %></p>
  <p><%= donor.email %></p>
  <p><%= donor.amount %></p>
  <p><%= link_to 'Show', donor %>  <%= link_to 'Edit', edit_donor_path(donor) %>  <%= link_to 'Destroy', donor, method: :delete, data: { confirm: 'Are you sure?' } %></p>
</div>
<% end %>