
<div class="container">
<div class="content">
<h1> New Donor </h1>
<%= form_for @donor do |f| %>  
  <% if @donor.errors.any? %>  
    <div class="error_messages">  
      <h2><%= pluralize(@donor.errors.count, "error") %> prohibited this donor from being saved:</h2>  
      <ul>  
      <% @donor.errors.full_messages.each do |msg| %>  
        <li><%= msg %></li>  
      <% end %>  
      </ul>
    </div>  
  <% end %> 
  <div class="field">  
    <%= f.label :name %>  
    <%= f.text_field :name %>  
  </div>  
  <div class="field">  
    <%= f.label :address %>  
    <%= f.text_field :address %>  
  </div>    
  <div class="field">  
    <%= f.label :email %>  
    <%= f.text_field :email %>  
  </div>    
  <div class="field">  
    <%= f.label :amount %>  
    <%= f.number_field :amount, :step => 0.01 %>  
  </div>
  <div class="submit_spacer"></div>                 
  <div class="actions"><%= f.submit "Create Donor" %></div>  
<% end %>  
</div>
</div>