<div id="about_banner">
</div>
<div class="container">
  <div class="content">
    <h3 id="about_title"> ABOUT </h3>
    <p id="about">
      Rooms That Rock 4 Chemo collaborates with expert designers, volunteers, local vendors and sponsors to transform hospital and clinic chemotherapy treatment rooms into beautiful, tranquil environments where true healing can occur and spirits can be lifted. San Francisco-based nonprofit RTR4C believes environments that are uplifting, inspiring and hopeful, ease the suffering of all cancer patients -- both children and adults.
      <br><br>
      In May 2011, founder and artist Nancy Ballard visited her doctor with one of her botanical paintings under her arm. Her doctor wished out loud that his dreary chemo room could be enhanced with beautiful artwork. After a brief tour, Ballard felt compelled to donate paintings and she also saw a much bigger future for the project. In an effort to revamp the chemotherapy rooms in their entirety, Nancy reached out to 20 local interior designers for their professional aid. Within three days, six designers had reacted enthusiastically, volunteering their time and creative efforts for the first RTR4C Project. Since then, she has converted more than 150 rooms in 15 facilities into “Rooms That Rock;” impacting more than 800,000 patient visits per year - all supported by 100% volunteer labor.
    </p>
    <div class="border"></div>
    <% if current_user %>
      <%= link_to 'Add Team member', new_team_member_path, {class: "new_button"} %>
    <% end %>
    <% @head_honchos.each do |head_honcho| %>
      <div class="profile_container">
        <%= image_tag(first_image(head_honcho), class: "picture") %>
        <div class="profile">
          <h3><%= head_honcho.title %></h3>
          <h2><%= head_honcho.name %></h2>
          <div class="border"></div>
          <p><%= head_honcho.blurb %></p>
        </div> <!-- end profile div -->
      </div> <!-- end profile_container div -->

      <% if current_user %>
        <div class="admin_buttons">
          <%= link_to 'Edit', edit_team_member_path(head_honcho), {class: "small_button edit_button"} %>
          <%= link_to 'Destroy', head_honcho, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<!--<div class="container black_container">
  <div class="content">
    <h1 class="white"> ADVISORY BOARD </h1>
    <% @advisory_board.each do |advisory_board| %>
      <div class="advisory tooltip" title="<%= advisory_board.name %>">
        <%= image_tag(first_image(advisory_board), class: "advisory_picture") %>
        <div class="admin_buttons">
          <% if current_user %>
          <p><%= link_to 'Edit', edit_team_member_path(advisory_board) %></p>
          <p><%= link_to 'Destroy', advisory_board, method: :delete, data: { confirm: 'Are you sure?' } %></p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>-->
<div class="container black_container">
  <div class="content">
    <h1 class="white"> OUR SPONSORS </h1>
    <a class="about_media tooltip" title="Home Depot" id="homedepot" href="#" onclick="window.open('http://www.homedepot.com/');"></a>
    <a class="about_media tooltip" title="Chase PR" id="chase" href="#" onclick="window.open('http://chasepr.com/');"></a>
    <a class="about_media tooltip" title="Giants" id="giants" href="#" onclick="window.open('http://www.sfgiants.com/');"></a>
  </div>
</div>
<!--<div class="container black_container">
  <div class="content">
    <h1 class="white"> LEAD VOLUNTEERS </h1>
    <% @designers.each do |designer| %>
      <div class="mini tooltip" title="<%= designer.name %>">
        <%= image_tag(first_image(designer), class: "mini_picture") %>
        <% if current_user %>
        <div class="admin_buttons">
          <p><%= link_to 'Edit', edit_team_member_path(designer) %></p>
          <p><%= link_to 'Destroy', designer, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        </div>
        <% end %>
      </div>
    <% end %>
    <% @volunteers.each do |volunteer| %>
      <div class="mini tooltip" title="<%= volunteer.name %>">
        <%= image_tag(first_image(volunteer), class: "mini_picture") %>
        <% if current_user %>
        <div class="admin_buttons">
          <p><%= link_to 'Edit', edit_team_member_path(volunteer) %></p>
          <p><%= link_to 'Destroy', volunteer, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>-->