<h1>Listing Purchases</h1>

<span>Download: <%= link_to "Excel", purchases_path(format: "xls") %></span>

<% @purchases.each do |purchase| %>
  <div>
    <p><%= purchase.name %></p>
    <p><%= purchase.email %></p>
    <p><%= purchase.address %></p>
    <p><%= purchase.created_at %></p>
  </div>
  <br/>
  <p><u>Items</u></p>
  <br/>
  <% purchase.cart_items.each do |citem| %>
    <div>
      <% if citem.selected_size.nil? %>
        <p><%= citem.product.name %> | <%= citem.product.description %> | <%= number_to_currency(citem.product.price) %> | <%= citem.quantity %></p>
      <% else %>
        <p><%= citem.product.name %> | <%= citem.product.description %> | <%= citem.selected_size %> | <%= number_to_currency(citem.product.price) %> | <%= citem.quantity %></p>
      <% end %>
    </div>
  <% end %>
  <br/><br/>
<% end %>
