<div class="container">
<div class="content">
<%= nested_form_for @press, html: {multipart: true} do |f| %>


<div class="field">
	<%= f.label "Title" %>
	<%= f.text_field :title %>
</div>

<div class="field">
	<%= f.label "Link" %>
	<%= f.text_field :link %>
</div>

<div class="field">
	<%= f.label "Video Link" %>
	<%= f.text_field :videolink %>
</div>

<div class="submit_spacer"></div>
<%= f.submit %>


<% end %>
</div>
</div>