<div id="navbar_container">
  <div id="navbar">
    <div id="logo"></div>
    <a class="tab" href="../contact"> CONTACT </a>
    <a class="tab" href="../contribute"> CONTRIBUTE </a>
    <a class="tab" href="../news"> NEWS </a>
    <a class="tab" href="../store"> STORE </a>
    <a class="tab" href="#"> PROJECTS </a>
    <a class="tab" href="about"> ABOUT </a>
  </div>
</div>
<div class="container">
  <div class="content">
    <h1> NEWS </h1>
    <% if current_user %>
      <p> <%= link_to 'New Blog', new_blogpost_path %> </p>
      <p> <%= link_to 'New Press', new_press_update_path %> </p>
    <% end %>
    <div class="apple_pagination">
      <%= will_paginate @news %>
    </div>
    <% @news.each do |news| %>
      <% if news.is_a? PressUpdate %>
        <div class="blogpost">
          <% if news.videolink != nil %>
            <iframe width="1000" height="500" src="//www.youtube.com/embed/<%= news.get_embed_link %>"></iframe>
          <% end %>
          <div class="post extra_margin">
            <h2> <%= news.title %> </h2>
            <h4> <%= news.created_at.strftime('%x') %> </h4>
            <p> <%= news.blurb %> </p>
            <p> <%= link_to "Read More", news.link %> </p>
            <% if current_user %>
              <span> <%= link_to 'Edit', edit_press_update_path(news) %> </span>
              <span><%= link_to 'Destroy', news, method: :delete, data: { confirm: 'Are you sure?' } %><span>
            <% end %>
          </div>
          <div class="border extra_margin"></div>
        </div>
      <% elsif news.is_a? Blogpost %>
        <div class="blogpost">
          <% news.images.each do |image| %>
            <div class="post_picture"><%= image_tag image.photo.url %></div>
          <% end %>
          <div class="post extra_margin">
            <h2> <%= news.title %> </h2>
            <h4> <%= news.created_at.strftime('%x') %> </h4>
            <p> <%= news.post %> </p>
            <% if current_user %>
              <span> <%= link_to 'Edit', edit_blogpost_path(news) %> </span>
              <span><%= link_to 'Destroy', news, method: :delete, data: { confirm: 'Are you sure?' } %><span>
            <% end %>
          </div>
          <div class="border extra_margin"></div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="apple_pagination">
    <%= will_paginate @news %>
  </div>
</div>
<div class="container">
  <div class="content">
    <h1> FOLLOW US </h1>
    <div class="media" id="facebook"></div>
    <div class="media" id="linkedin"></div>
    <div class="media" id="twitter"></div>
    <div id="copyright_border"></div>
    <p id="copyright"> Copyright 2013. Rooms That Rock 4 Chemo </p>
  </div>
</div>