<h1> News </h1>

<div class="apple_pagination">
  <%= will_paginate @news %>
</div>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Video Link</th>
    <th></th>
  </tr>

<% @news.each do |news| %>
  <tr>
    <% if news.is_a? PressUpdate %>
      <td><%= news.title %></td>
      <td><%=h auto_link(news.link) %></td>
      <td><%= news.videolink %></td>
      <td><%= link_to 'Show', news %></td>
      <td><%= link_to 'Edit', edit_press_update_path(news) %></td>
      <td><%= link_to 'Destroy', news, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% elsif news.is_a? Blogpost %>
      <td><%= news.title %></td>
      <td><%= news.post %></td>
      <td>None</td>
      <td><%= link_to 'Show', news %></td>
      <td><%= link_to 'Edit', edit_blogpost_path(news) %></td>
      <td><%= link_to 'Destroy', news, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>
<div class="apple_pagination">
  <%= will_paginate @news %>
</div>

<%= link_to "Blogposts", blogposts_path %><br>
<%= link_to "Press Updates", "/press_updates" %>