<h1>Listing Emails</h1>

<div class="content">
  <div id="emails">
    <table>
      <thead>
        <tr>
          <th width="80px">First Name</th>
          <th width="80px">Last Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Message</th>
          <th width="40px"></th>
          <th width="40px"></th>
        </tr>
      </thead>

      <tbody>
        <% @contacts.each do |contact| %>
          <tr>
            <td><%= contact.fname %></td>
            <td><%= contact.lname %></td>        
            <td><%= contact.email %></td>
            <td><%= contact.phone %></td>
            <td><%= contact.message %></td>
            <td><%= link_to 'Show', contact %></td>
            <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>