<div class="container">
  <div class="content">
  <h1> CONTACT </h1>
    <%= form_for @contact do |e| %>
      <% if @contact.errors.any? %>  
        <div class="error_messages">  
          <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this email from being saved:</h2>  
          <ul>  
          <% @contact.errors.full_messages.each do |msg| %>  
            <li><%= msg %></li>  
          <% end %>  
          </ul>
        </div>  
      <% end %>
      <div class="field">
        <%= e.label "First Name" %>
        <%= e.text_field :fname %>
      </div>      
      <div class="field">
        <%= e.label "Last Name" %>
        <%= e.text_field :lname %>
      </div>      
      <div class="field">
        <%= e.label "Email" %>
        <%= e.text_field :email %>
      </div>      
      <div class="field">
        <%= e.label "Phone" %>
        <%= e.text_field :phone %>
      </div>      
      <div class="field">
        <%= e.label "Message" %>
        <%= e.text_area :message, :class => 'extra_margin' %>
      </div>
      <p>
        <%= e.submit "Send Message" %>
      </p>
    <% end %>
  </div>
</div>
<div class="container black_container">
  <div class="content">
    <h1 class="white"> LOCATION </h1>
    <h2 class="white"> Address </h2>
    <div class="white_border"></div>
    <p class="white"> RoomsThatRock4Chemo <br>
    1032 Irving Street, #223 <br>
    San Francisco, CA 94122 </p>
    <h2 class="white"> Phone </h2>
    <div class="white_border"></div>
    <p class="white"> 415-518-1716 </p>
  </div>
</div>