<p id="notice"><%= notice %></p>

<h1>Contact Info</h1>
<p><%= @contact.fname %></p>
<p><%= @contact.lname %></p>
<p><%= @contact.email %></p>
<p><%= @contact.phone %></p>
<p><%= @contact.message %></p>