<h1> Edit Donation </h1>
<%= form_for @donation do |f| %>  
  <% if @donation.errors.any? %>  
    <div class="error_messages">  
      <h2><%= pluralize(@donation.errors.count, "error") %> prohibited this donation from being saved:</h2>  
      <ul>  
      <% @donation.errors.full_messages.each do |msg| %>  
        <li><%= msg %></li>  
      <% end %>  
      </ul>
    </div>  
  <% end %>
  <span class="payment-errors"></span>    
  <div class="field">  
    <%= f.label :amount %>  
    <%= f.number_field :amount, :step => 0.01 %>  
  </div>
  <div class="field">  
    <%= f.label :message %>  
    <%= f.text_area :message %>  
  </div>                
  <div class="actions"><%= f.submit "Edit Donation" %></div>  
<% end %>  