<div class="container">
<div class="content">
<h1> ONLINE DONATION </h1>
<%= form_for @donation do |f| %>  
  <% if @donation.errors.any? %>  
    <div class="error_messages">  
      <h2><%= pluralize(@donation.errors.count, "error") %> prohibited this donation from being saved:</h2>  
      <ul>  
      <% @donation.errors.full_messages.each do |msg| %>  
        <li><%= msg %></li>  
      <% end %>  
      </ul>
    </div>  
  <% end %>
  <span class="payment-errors"></span>    
  <div class="field">  
    <%= label_tag :name %>  
    <%= text_field_tag :name %>  
  </div>    
  <div class="field">  
    <%= label_tag :email %>  
    <%= text_field_tag :email %>  
  </div>    
  <div class="field">  
    <%= label_tag :title %>  
    <%= text_field_tag :title %>  
  </div>
  <div class="field">  
    <%= label_tag :profile %>  
    <%= text_field_tag :profile %>  
  </div>
  <div class="field">  
    <%= f.label :amount %>  
    <%= f.number_field :amount, :step => 0.01 %>  
  </div>
  <div class="field">  
    <%= f.label :message %>  
    <%= f.text_area :message %>  
  </div> 
  <div class="field">  
    <%= label_tag :card_number, "Credit Card Number " %>  
    <%= text_field_tag :card_number, "4242 4242 4242 4242", name: nil, :data => {:stripe => 'number'} %>  
  </div>  
  <div class="credit_card_fields">  
    <div class="field">  
      <%= label_tag :card_month, "Expiration Date" %>  
      <%= select_month nil, {add_month_numbers_true: true}, {name: nil, id: "card_month", :data => {:stripe => 'exp-month'}} %>  
      <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year", :data => {:stripe => 'exp-year'}} %>  
    </div>
    <div class="field">  
      <%= label_tag :card_code, "CVC" %>  
      <%= text_field_tag :card_code, "123", name: nil, :data => {:stripe => 'cvc'} %>  
    </div> 
  </div>               
  <div class="submit_spacer"></div>
  <div class="actions"><%= f.submit "DONATE" %></div>  
<% end %>
</div>
</div>
<div class="container black_container">
  <div class="content">
    <h1 class="white"> ADDITIONAL INFORMATION </h1>
    <div class="white_border"></div>
    <p class="white"> RTR4C is a volunteer organization operating through contributions, in-kind donations, and proceeds from fund-raising events. They do not receive state or federal funding and are solely dependent on contributions from the community, individuals and corporations. RTR4C has no religious or political agendas or affiliations.
    </p>
  </div>
</div>
<div class="container">
  <div class="content">
    <h1> FOLLOW US </h1>
    <a class="media tooltip" title="Facebook" id="facebook" href="https://www.facebook.com/pages/Rooms-That-Rock-4-Chemo/112153845548333"></a>
    <a class="media tooltip" title="LinkedIn" id="linkedin" href="http://www.linkedin.com/profile/view?id=43149579&amp;trk=tab_pro"></a>
    <a class="media tooltip" title="Twitter" id="twitter" href="https://twitter.com/RoomsThatRock"></a>
    <div id="copyright_border"></div>
    <p id="copyright"> Copyright 2013. Rooms That Rock 4 Chemo </p>
  </div>
</div>