<p id="notice"><%= notice %></p>
<p id="notice"><%= notice %></p>

<p><%= @donation.name %></p>
<p><%= @donation.email %></p>
<p><%= @donation.title %></p>
<p><%= @donation.profile %></p>
<p><%= @donation.amount %></p>
<p><%= @donation.message %></p>