<%= nested_form_for @project, html: { multipart: true } do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :date %>
    <%= date_select(@project, :date) %>
  </p>

  <p>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label :location %>
    <%= f.text_field :location %>
  </p>

  <%= f.fields_for :images do |image_form| %>
    <fieldset>
      <%= image_form.label :name %>
      <%= image_form.text_field :name %>
      <%= image_form.label :photo %>
      <%= image_form.file_field :photo %>
      <%= image_form.link_to_remove "Remove image" %>
    </fieldset>
  <% end %>
  <%= f.link_to_add "Add photo", :images %>
  <p><%= f.submit %></p>
<% end %>