<div class="container">
  <div class="content">
    <h1>Featured Projects</h1>
    <% if current_user %>
    	<p> <%= link_to "Add A Project", new_project_path, {class: "new_button"} %> </p>
    <% end %>
    <% unless @featured_one.nil? %>
    <div class = "featured">
      <div class = "featured_picture" id = "pict_one">
        <%= safe_image(@featured_one) %>
      </div>
      <div class = "featured_text">
        <%= safe_text(@featured_one) %>
        <div class = "featured_line"></div>
      </div>
    </div>
    <% end -%>

    <% unless @featured_two.nil? %>
    <div class = "featured">
      <div class = "featured_picture" id = "pict_two">
        <%= safe_image(@featured_two) %>
      </div>
      <div class = "featured_text" id = "mid">
        <%= safe_text(@featured_two) %>
        <div class = "featured_line"></div>
      </div>
    </div>
    <% end -%>

    <% unless @featured_three.nil? %>
    <div class = "featured">
      <div class = "featured_picture" id = "pict_three">
        <%= safe_image(@featured_three) %>
      </div>
      <div class = "featured_text">
        <%= safe_text(@featured_three) %>
        <div class = "featured_line"></div>
      </div>
    </div>
    <% end -%>
  </div>
</div>

<div class = "container black_container">
<div class="content">
  <h1 id = "all_p"> All Projects </h1>
  
	<% @projects.each do |project| %>
    <div class = "project_block tooltip-alt" title= "<%= project.title %>">
      <div class = "project_thumb" id = "projects_one">
        <%= safe_image(project) %>
      </div>
    </div>
  <% end %>
  </div>
</div>
</div>
