
<div id="navbar_container">
  <div id="navbar">
    <a id="logo" href=".."></a>
    <a class="tab" href="../contact"> CONTACT </a>
    <a class="tab" href="../contribute"> CONTRIBUTE </a>
    <a class="tab" href="../news"> NEWS </a>
    <a class="tab" href="../store"> STORE </a>
    <a class="tab" href="../projects"> PROJECTS </a>
    <a class="tab" href="../about"> ABOUT </a>
  </div>
</div>

<% if current_user %>
<%= link_to 'Edit', edit_project_path(@project) %>
<%= link_to 'Back', projects_path %>
<% end %>

<div class="container">
  <div class="ind_project_content">
    <div id="ind_project_main_title"><h1><%= @project.title %></h1>
    <div class="before_after">
      <div id="before">Before</div>
      <div id="after">After</div>
    </div>
    <div class="header_pict">
      <div class="main_before_pict"><%= image_tag(@project.images[1].photo.url) %></div>
      <div class="divider"></div>
      <div class="main_after_pict"><%= image_tag(@project.images[0].photo.url) %></div>
      <div class="before_picts">
        <div id="b_1"><%= image_tag(@project.images[4].photo.url) %></div>
        <div id="b_2"><%= image_tag(@project.images[5].photo.url) %></div>
        <div id="b_3"></div>
        <div id="b_4"></div>
      </div>
      <div class="after_picts">
        <div id="a_1"><%= image_tag(@project.images[1].photo.url) %></div>
        <div id="a_2"><%= image_tag(@project.images[2].photo.url) %></div>
        <div id="a_3"></div>
        <div id="a_4"></div>
      </div>
  </div>
</div>


<div class = "container black_container">
  <div class="content">
    <div class="ind_project_about">
      <div id = "ind_about_title">
        <p id="ind_about">About This Project</p>
      </div>
      <div id="ind_project_line_about"></div>
      <div>
        <p id="ind_about_text"><%= @project.description %></p>
      </div>
    </div>
    <div class="ind_project_volunteers">
      <div id = "volunteer_title">
        <p id ="volunteers_about">Volunteers That Made This Happen</p>
      </div>
      <div id="ind_project_line_volunteer"></div>
      <div>
        <p id="ind_volunteer_text"><%= @project.volunteers %></p>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="content">
    <h1> FOLLOW US </h1>
    <a class="media tooltip" title="Facebook" id="facebook" href="https://www.facebook.com/pages/Rooms-That-Rock-4-Chemo/112153845548333"></a>
    <a class="media tooltip" title="LinkedIn" id="linkedin" href="http://www.linkedin.com/profile/view?id=43149579&amp;trk=tab_pro"></a>
    <a class="media tooltip" title="Twitter" id="twitter" href="https://twitter.com/RoomsThatRock"></a>
    <div id="copyright_border"></div>
    <p id="copyright"> Copyright 2013. Rooms That Rock 4 Chemo </p>
  </div>
</div>
