
<div id="navbar_container">
  <div id="navbar">
    <div id="logo"></div>
    <a class="tab" href="#"> CONTACT </a>
    <a class="tab" href="#"> CONTRIBUTE </a>
    <a class="tab" href="#"> NEWS </a>
    <a class="tab" href="#"> STORE </a>
    <a class="tab" href="#"> PROJECTS </a>
    <a class="tab" href="#"> ABOUT </a>
  </div>
</div>


<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @project.date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Volunteers That Made This Happen:</strong>
  <%= @project.volunteers %>
<p>
  <strong>Location:</strong>
  <%= @project.location %>
</p>

<% @project.images.each do |image| %>
  <p><%= image.name %></p>
  <%= image_tag image.photo.url %>
<% end %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
