<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cart.cart_items.each do |cart_item| %>
      <tr>
        <%if not donation.donor.nil? %>
          <td><%= donation.donor.name %></td>
        <% else %>
          <td></td>
        <% end %>
        <td><%= cart_item.product.name %></td>
        <td><%= cart_item.product.description %></td>
        <td><%= cart_item.product.price %></td>
        <td><%= cart_item.quantity %></td>
      </tr>
    <% end %>
  </tbody>
</table>