
<div class="container">
<div class="content">
<h1> New Update </h1>

<%= form_for :update, url: updates_path do |u| %>
  <div class="field">
    <%= u.label :title %><%= u.text_field :header%>
  </div>

  <div class="field">
    <%= u.label :bodytext %><%= u.text_area :body%>
  </div>
  <div class="submit_spacer"></div>
  <p>
    <%= u.submit %>
  </p>
<%end%>
</div>
</div>