
<div class="container">
<div class="content">
<h1> Checkout </h1> 

<h2> Contact Info </h2>

<%= form_tag(checkouts_path, :id => "new_checkout") do %>
  <div class="field">
    <%= label :checkout, "First Name" %>
    <%= text_field :checkout, :firstname %>
  </div>  
  <div class="field">
    <%= label :checkout, "Last Name" %>
    <%= text_field :checkout, :lastname %>
  </div>
  <div class="field">
    <%= label :checkout, "Address 1" %>  
    <%= text_field :checkout, :address1 %>
  </div>   
  <div class="field">
    <%= label :checkout, "Address 2" %>  
    <%= text_field :checkout, :address2 %>
  </div>   
  <div class="field">
    <%= label :checkout, :city %>  
    <%= text_field :checkout, :city %>
  </div>    
  <div class="field">
    <%= label :checkout, :state %>  
    <%= text_field :checkout, :state %>
  </div>   
  <div class="field">
    <%= label :checkout, :zip %>  
    <%= text_field :checkout, :zip %>
  </div>
  <div class="field">
    <%= label :checkout, :email %>
    <%= text_field :checkout, :email %>
  </div>  
  <div class="field">
    <%= label :checkout, :phone %>
    <%= text_field :checkout, :phone %>
  </div>

  <h2> Credit Card </h2>
  <div class="field">
    <%= label_tag :card_number, "Card #" %>  
    <%= text_field_tag :card_number, "4242 4242 4242 4242", name: nil, :data => {:stripe => 'number'} %>  
  </div>  
  <div class="credit_card_fields">
    <div class="field">
    <%= label_tag :card_month, "Exp Date" %>   
    <%= select_month nil, {add_month_numbers_true: true}, {name: nil, id: "card_month", :data => {:stripe => 'exp-month'}} %>  
    <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year", :data => {:stripe => 'exp-year'}} %>
    </div>
    <div class="field">
    <%= label_tag :card_code, "CVC" %>
    <%= text_field_tag :card_code, "123", name: nil, :data => {:stripe => 'cvc'}, maxlength: 3, size: 3 %>  
    </div>
  </div>
  <div class="submit_spacer"></div>
  <%= submit_tag("Checkout") %>
<% end %> 
</div>
</div>