<h1>Editing product</h1>

<%= form_for @product do |f| %>
	<p>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.label :description %>
		<%= f.text_area :description %>
	</p>

	<p>
		<%= f.label :price %>
		<%= f.text_area :price %>
	</p>

	<p>
		<%= f.label :photo %>
		<%= f.file_field :photo %>
	</p>

	<p>
		<%= f.submit %>
	</p>
<% end %>

<%= link_to 'Back', products_path %>
