
<div class="container">
  <div class="content">
  <h1> STORE </h1>
  <a id="view_cart" href="cart"> View Cart </a>
    <% @products.each do |product| %>
      <div class="product">
      <a href="<%= product_path(product) %>"><%= image_tag first_image product %></a>
      <p><%= product.name %></p>
      <p><%= number_to_currency(product.price) %></p>
        <% if current_user %>
          <p><%= link_to 'Edit', edit_product_path(product) %></p>
          <p><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        <% end %>
      </div>
    <% end %>
  <br>

  <% if current_user %>
    <%= link_to 'New Product', new_product_path %>
  <% end %>
</div>
</div>