<div id="navbar_container">
  <div id="navbar">
    <a id="logo" href=".."></a>
    <a class="tab" href="contact"> CONTACT </a>
    <a class="tab" href="contribute"> CONTRIBUTE </a>
    <a class="tab" href="news"> NEWS </a>
    <a class="tab" href="store"> STORE </a>
    <a class="tab" href="projects"> PROJECTS </a>
    <a class="tab" href="about"> ABOUT </a>
  </div>
</div>
<div class="container">
  <div class="content">
  <h1> STORE </h1>
  <a id="view_cart" href="cart"> View Cart </a>
    <% @products.each do |product| %>
      <div class="product">
      <a href="<%= product_path(product) %>"><%= image_tag first_image product %></a>
      <p><%= product.name %></p>
      <p><%= number_to_currency(product.price) %></p>
        <% if current_user %>
          <p><%= link_to 'Edit', edit_product_path(product) %></p>
          <p><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        <% end %>
      </div>
    <% end %>
  <br>

  <% if current_user %>
    <%= link_to 'New Product', new_product_path %>
  <% end %>
</div>
</div>
<div class="container">
  <div class="content">
    <h1> FOLLOW US </h1>
    <a class="media tooltip" title="Facebook" id="facebook" href="https://www.facebook.com/pages/Rooms-That-Rock-4-Chemo/112153845548333"></a>
    <a class="media tooltip" title="LinkedIn" id="linkedin" href="http://www.linkedin.com/profile/view?id=43149579&amp;trk=tab_pro"></a>
    <a class="media tooltip" title="Twitter" id="twitter" href="https://twitter.com/RoomsThatRock"></a>
    <div id="copyright_border"></div>
    <p id="copyright"> Copyright 2013. Rooms That Rock 4 Chemo </p>
  </div>
</div>

