<p id="notice"><%= notice %></p>

<p><%= @product.name %></p>
<p><%= @product.description %></p>
<p><%= @product.price %></p>
<p><%= image_tag @product.image.photo.url %></p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
