<p id="notice"><%= notice %></p>

<p><%= @product.name %></p>
<p><%= @product.description %></p>
<p><%= @product.price %></p>
<% @product.images.each do |image| %>
  <%= image_tag image.photo.url %>
<% end %>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
