<p id="notice"><%= notice %></p>

<p><%= @product.name %></p>
<p><%= @product.description %></p>
<p><%= @product.price %></p>
<% @product.images.each do |image| %>
  <%= image.name %><br>
  <%= image_tag image.photo.url %><br>
<% end %>

<%= form_tag add_to_cart_path(:product_id => @product), :method => :post do %>
  <% if @product.size_variants.any? %>
    <p><%= label_tag "Select a Size" %></p>
    <p><%= select_tag :selected_size, options_for_select(@product.size_variants.first.sizes, params[:selected_size]) %></p>
  <% end %>
  <%= submit_tag 'Add to Cart' %>
<% end %>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
