<!DOCTYPE html>
<html>
<head>
  <title>Rtr4c</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Merriweather:300' rel='stylesheet' type='text/css'>
</head>
<body>

<div id="user_header">
	<!-- make sure to change this since we only want a few users-->	
	<%= link_to "Sign Up", new_user_path %>
	<%= link_to "Log In", new_session_path %>
</div>
<%= yield %>

</body>
</html>
